In [4]:
import pandas as pd
import numpy as np

In [7]:
def custom_transform(x, scale):
    new_x = np.empty(x.shape, dtype=(np.float32))
    for i in range(x.shape[0]):
        temp = np.copy(x[i]).astype(np.float32)
        temp[(temp > 0) & (temp < 200)] = scale
        temp[temp >= 200] = 1
        new_x[i][:][:] = temp.astype(np.float32)

    return new_x

In [16]:
x_test = pd.read_csv('MNIST_CSV/mnist_test.csv', header=None).iloc[:, 1:785].to_numpy()
y_test = pd.read_csv('MNIST_CSV/mnist_test.csv', header=None).iloc[:, 1].to_numpy()
x_test_to_one = custom_transform(x_test.reshape(x_test.shape[0], 28, 28), 0.75).reshape(-1, 784)

<h3><b>The following code blocks load the augmented MNIST samples, transforms the dataset and the test set using custom transformation, and stores the 2 datasets as 2 .feather files</b></h3>

In [2]:
df_augmented = pd.read_feather('augmented_MNIST.feather')
df_augmented

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df_augmented.rename(columns={col: int(col) for col in df_augmented.columns}, inplace=True)

In [5]:
y_aug = df_augmented[0].to_numpy()
x_train_aug = df_augmented.iloc[:, 1:785].to_numpy()

In [8]:
x_train_aug_to_one = custom_transform(df_augmented.iloc[:, 1:785].to_numpy(), 0.75)

In [9]:
df_x_aug_to_one = pd.DataFrame(x_train_aug_to_one).astype(np.float16)
df_x_aug_to_one.rename(columns={col: (col + 1) for col in df_x_aug_to_one.columns}, inplace=True)

df_aug_to_one = pd.concat([pd.Series(y_aug), df_x_aug_to_one], axis=1)
df_aug_to_one

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599996,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599997,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599998,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599999,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_aug_to_one.rename(columns={col: str(col) for col in df_aug_to_one.columns}, inplace=True)
df_aug_to_one.to_feather('data_train_aug_to_one.feather')

In [17]:
x_test_to_one = x_test_to_one.astype(np.float16)

In [18]:
df_x_test_to_one = pd.DataFrame(x_test_to_one).astype(np.float16)
df_x_test_to_one.rename(columns={col: (col + 1) for col in df_x_test_to_one.columns}, inplace=True)

df_test_to_one = pd.concat([pd.Series(y_test), df_x_test_to_one], axis=1)
df_test_to_one

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df_test_to_one.rename(columns={col: str(col) for col in df_test_to_one.columns}, inplace=True)
df_test_to_one.to_feather('data_test_to_one.feather')